@media (max-width: 670px) {
  span {
    color: #FEE5CF;
  }
  .message h2 {
    font-size: 30px;
  }
  .description {
    padding: 30px 50px;
  }
 .header_contents a {
    margin: 0 20px;
    padding:0 10px ;
  }
 .description {
   padding: 50px 50px;
  }
  .profile {
   height: 1000px;
  }
}
