@media (max-width: 670px) {
  span {
    color: #FEE5CF;
  }
  
  .message h2 {
    font-size: 30px;
  }

 .header_contents a {
    margin: 0 22px;
    padding:0 10px ;
  }
  
 .description {
   padding: 10px 50px;
  }
  
  .profile {
   height: 750px;
  }
  
  .dream_des {
    margin-right: 30px;
  }
  
  .description img {
    float: none;
    text-align:center;
    margin-left:30px;
  }
  
  .fa_image,tw_image {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
  
  footer h4 {
    font-size: 20px;
    text-align:center;
  }
  
  .dream img {
  width: 300px;
  height: 170px;
  text-align:center;
  margin-left: 35px;
  }
  
  .description P {
    text-align: center;
    padding-left: 10px;
  }
  
  .tw_image {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
  
  .career {
    width:100%;
    padding-top:10px;
  }
  
  footer {
    height:150px;
  }
}
