
@media (max-width: 600px) {

.container {
  display: grid;
  grid-template-columns:100%; 
  grid-template-rows:667px 700px 900px 100px;
}
  
.logo {
  width: 50% ;
  padding-top : 28px ;
  margin-left : 28px ;
  }
  
.list-menu {
  display:none;
  }
  
.hamburger {
  display:block;
  height:25px;
  padding-right:30px;
  float: left;
}  
  
main {
  grid-row: 1;
  line-height: 0;
}

main img {
  margin-top:0;
  vertical-align: bottom;
  line-height: 1.0em;
  display:grid;
  }

.pc {
  display :none;
    }
    
.sp {
  display :block;
  margin: 0 auto;
    }    
    
.profile {
  grid-row: 2;
  text-align: center;
  width:100%;
}

.profile h3 {
  padding-top: 50px;
  padding-bottom: 50px ;
  margin:0 auto;
  font-size: 30px;
}

.profile img {
  width:80%;
  text-align:center;
}

.description {
  padding-top : 40px ;
  width:100%;
}

.name {
  font-size: 25px;
  margin-top:20px;
}

.name_blow {
  font-size:12px;
  margin: 0 30px;
}

.works {
  grid-row: 3;
  width:375px;
}

.works_title {
    margin: 0 auto ;
    text-align: center;
}

.works h3 {
  font-size: 30px;
  padding-top: 50px;
}

.boxContainer {
  width:375px;
  text-align:center;
  gap:50px;
  }

.box {
    display:block;
  }
  
.box img {
  height:200px;
  margin-bottom: 30px;
}

.img-description {
    display:none;
}

footer {
  height:100px;
  grid-row:4;
  text-align:center;
  width:375px;
}

footer a {
  display: inline-block;
  margin: 3% 6%;
  padding-top:10px;
}
    
.fa_image {
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

.tw_image {
  width: 50px;
  height: 50px;
}   
}

@media (max-width: 670px) {
  span {
    color: #FEE5CF;
  }
  
  .message h2 {
    font-size: 30px;
  }

 .header_contents a {
    margin: 0 23px;
    padding:0 10px ;
  }
  
 .description {
   padding: 10px 50px;
  }
  
  .profile {
   height: 750px;
  }
  
  .description img {
    float: none;
    text-align:center;
    margin-left:35px;
  }
  
  .fa_image,tw_image {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
  
  footer h4 {
    font-size: 20px;
    text-align:center;
  }
  
  .description P {
    text-align: center;
    padding-left: 10px;
  }
  
  .tw_image {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }

}
