* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100% ;
}

body {
  margin: 0;
}

.clear {
  clear:left;
}

main {
  background-color:#eff7fc;
  background-size: cover;
  text-align: center;
  width:100%;
  height:800px;
}

.pc { 
  display: block ;
}
.sp { 
  display: none ; 
}

span {
  color: black;
}

header {
  background-color:rgba(255, 255, 255, 0.0);
  height: 70px ;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%
  display: flex;
  box-shadow : 0 3px 6px rgba(0,0,0,0.05);
}

main img {
    text-align:center;
}

.pc{
  margin-top : 0 auto;
  width: 55%;
  height: auto;
}

.profile {
  height: 700px;
  background-color: #ffffff ;
  width:100%;
}

.profile h3 {
  padding-top: 50px;
  padding-bottom: 100px ;
  margin:0 0 50px 0;
  font-family: gravesend-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  color : #0B2F50 ;
}

.profile img {
  width:30%;
  border-radius: 50%;
  margin : 0px 50px;
  float : left ;
}

.description {
  width : 57% ;
  display: block;
  margin : auto ;
  padding-top : 40px ;
}

.list-menu a {
  float: right;
  background-color:rgba(255, 255, 255, 0.0) ;
  margin-right: 40px;
  justify-content: space-between;
  font-family: gravesend-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  color: inherit;
  text-decoration: none;
}

header img {
  width:15%;
  float: left;
  padding:20 20px ;
  margin-top : 20px;
  margin-left: 30px;
}

.logo {
  display: inline-block;
}

.list-menu a:hover {
  cursor: pointer;
}

.name {
  font-family: gravesend-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
  margin-top: 0px;
  color : #0B2F50 ;
}

.name_blow {
    color: #0B2F50;
    font-size: 15px;
    font-family: zen-kaku-gothic-antique, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.works {
  height: 700px ;
  background-color: #eff7fc ;
  display: grid ;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1.7fr 1fr;
}

.works_title {
    grid-row: 1 ;
    grid-column: 1/4;
    margin: 0 auto ;
    margin-top: 50px ;
}

.works h3 {
  font-family: gravesend-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
}
  
.boxContainer {
  grid-column: 2 ;
  grid-row: 2 ;
}

.box {
  display :flex ;
  justify-content: space-between　;
  gap : 30px ;
}

.box img {
  height: 230px ;
}

.img-description {
    grid-row: 3 ;
    grid-column: 2;
}

.img-description p {
    float: left;
    width: 230px;
    justify-content: space-between;
    margin-left: 40px ;
    color : #0B2F50 ;
    font-size: 20px;
    font-family: zen-kaku-gothic-antique, sans-serif;
    font-style: normal;
    font-weight: 300;
}

footer {
  height: 200px;
  background-color: #0b2f4f;
  text-align: center;
}

.fa_image {
  width: 60px;
  height: 60px;
  margin-top: 15px;
}

footer a {
  display: inline-block;
  margin: 50px 25px;
}

.tw_image {
  width: 60px;
  height: 60px;
}

