* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100% ;
}

body {
  margin: 0;
}

.clear {
  clear:left;
}

main {
  background-color:rgba(255, 255, 255, 0.0);
  background-size: cover;
  text-align: center;
  width:100%;
  height:800px;
}

span {
  color: black;
}

header {
  background-color:rgba(255, 255, 255, 0.0);
  height: 70px ;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%
  display: flex;
  box-shadow : 0 3px 6px rgba(0,0,0,0.05);
}

main img{
  margin-top : 180px;
  text-align: center;
  width: 55%;
  height: auto;
}

.profile {
  height: 700px;
  background-color: #e3f3fc ;
  width:100%;
}

.profile h3 {
  padding-top: 50px;
  padding-bottom: 100px ;
  margin:0 0 50px 0;
  font-family: Gravesend Sans;
  text-align: center;
  font-size: 30px;
  color : #0B2F50 ;
}

.profile img {
  width:23%;
  border-radius: 50%;
  margin : 0px 50px;
  float : left ;
}

.description {
  width : 57% ;
  display: block;
  margin : auto ;
  padding-top : 40px ;
}

.description P {
  color : #0B2F50 ;
}

.list-menu a {
  float: right;
  margin: 0 20px;
  background-color:rgba(255, 255, 255, 0.0) ;
  padding:0 20px ;
}

header img {
  width:15%;
  float: left;
  padding:20 20px ;
  margin-top : 20px;
  margin-left: 20px;
}

.logo {
  display: inline-block;
}

.list-menu a:hover {
  cursor: pointer;
}

.name {
  font-family: Futura;
  font-size: 30px;
}

.name_blow {
  font-weight: normal;
  color:#4F4F4D;
  font-family: Verdana;
  font-size: 18px;
}

.list-menu a {
  font-family: Gravesend Sans;
  font-size: 15px;
}

.dream {
  height: 700px;
  background-color: #FFFFFF ;
}

.dream_title {
  text-align: center;
  padding-top: 50px;
}

.dream h3 {
  font-family: Gravesend Sans;
  font-size: 30px;
}

.boxcontainer {
  width : 57% ;
  margin: 0 auto ;
}

.box {
  width: 32%;
  padding: 150px 0 0 0;
  float: left;
  display:block;
  text-align: center;
}

.box img {
  width: 50%;
}

footer {
  height: 200px;
  background-color: #0e1f66;
  text-align: center;
}

.fa_image {
  width: 60px;
  height: 60px;
  margin-top: 15px;
}

footer a {
  display: inline-block;
  margin: 50px 25px;
}

.tw_image {
  width: 60px;
  height: 60px;
}

