* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100% ;
}

body {
  margin: 0;
}

.clear {
  clear:left;
}

.main {
  background-color:rgba(255, 255, 255, 0.0);
  background-size: cover;
  text-align: center;
  width:100%;
  height:700px;
}

.message {
  padding-top: 350px;
  font-family: "Bradley Hand"
}

.message h2 {
  font-size: 57px;
  color: white;
  margin-top: 0px;
  margin-right:20px ;
}

.message h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 0px;
}

span {
  color: black;
}

header {
  background-color:rgba(255, 255, 255, 0.0);
  height: 70px ;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.main img{
  margin-top : 100px;
  text-align: center;
  width: 40%;
  height: auto;
}

.profile {
  height: 700px;
  background-color: #D5DFE5 ;
  width:100%;
}

.profile_title {
  margin: 100px 100px;
  text-align: center;
  padding-top: 50px;
  color : #2A365D ;
}

.profile h3 {
  font-family: Gravesend Sans;
  font-size: 40px;
  color : #ffffff ;
}

.profile img {
  width:30%;
  border-radius: 50%;
  text-align: center;
  margin-top : 100px;
}

.description {
  padding: 0px 0px;
}

.description P {
  padding-left: 300px;
}

.list-menu a {
  float: right;
  line-height: 70px;
  margin: 0 20px;
  background-color:rgba(255, 255, 255, 0.0) ;
  padding:0 20px ;
}

.logo img {
  width:300px;
  float: left;
  padding:20 20px ;
  margin-top : 20px;
  margin-left: 20px;
}

.list-menu a:hover {
  cursor: pointer;
}

.profile_btn:hover {
  background-color: #FEE5CF;
}

.career_btn:hover {
  background-color: #EDEEED;
}

.dream_btn:hover {
  background-color: #FEFED7 ;
}

.career_wrapper {
  background-color: #EDEEED ;
}

.career_title {
  margin-top: 0px;
  text-align: center;
  padding-top: 50px;
}

.career_wrapper h3 {
  font-family: Gravesend Sans;
  font-size: 40px;
}

.name {
  font-size: 20px;
  font-family: Verdana;
}

.name_blow {
  font-weight: normal;
  color:#4F4F4D;
  font-family: Verdana;
}

.list-menu a {
  font-family: Gravesend Sans;
}

.dream {
  height: 700px;
  background-color: #FFFFFF ;
}

.dream_title {
  margin-top: 0px;
  text-align: center;
  padding-top: 50px;
}

.dream h3 {
  font-family: Gravesend Sans;
  font-size: 40px;
}

footer {
  height: 700px;
  background-color: #FEE5CF;
  text-align: center;
}

.fa_image {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

footer a {
  display: inline-block;
  margin: 0 100px;
}

footer h4 {
  margin-top: 0px;
  font-family: "Bradley Hand";
  font-size: 35px;
  margin-bottom: 0px;
  color: white;
  padding-top: 15px;
}

.tw_image {
  width: 80px;
  height: 80px;
}

.ig_image {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

.career img {
  width: 250px;
  height: 200px;
  margin-top: 0px;
}

.career p {
  font-family: Verdana;
}

.career {
  float: left;
  width: 25%;
  text-align: center;
  padding: 50px 0 0 0px;
}

.careers {
  margin: 0 50px;
}

.dream img {
  width: 500px;
  height: 300px;
  margin-left: 150px;
  float: left;
}

.dream_des {
  float: right;
  font-family: Verdana;
  font-size: 20px;
  line-height: 50px;
  margin-right: 350px;
}

